server {
  server_name  as.{{ server_name }};

  location /websocket/ {
    proxy_pass http://127.0.0.1:3002;

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }

  location /http/ {
    proxy_pass http://127.0.0.1:3002;
    proxy_redirect default;
  }

  location / {
    proxy_pass http://127.0.0.1:3000;
    proxy_redirect default;
  }
}
